.form{
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100vh;
  color: white;
  background-image: url('./images/background.jpeg');
  background-size: cover;
}
form{
  margin-right: 90px;
  width: 40%;
  padding: 20px;
}

#login-title{
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.error{
  font-size: small;
  color: red;
  margin-top: 5px;
}

.buttons{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.btn{
  width: 30%;
}